
/* 
    Part of the Topo Asia Learner!;

    Made by @Sprudeel (GitHub);

    Repository: https://github.com/Sprudeel/TopoAsia;

    March 2022, Switzerland;
*/




/* Standart Shit */
* {margin:0px; padding:0px}



/*#########################
##        Title           #
#########################*/


/* Entire Top Bar */
.title {
    display: grid; 
    grid-template-columns: 15em 1fr 15em; 
    gap: 1em 2em; 
    font-family: Archivo;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    z-index: 100;
    padding: 20px;
    text-align: center;
}

/* Angaben ohne Gewähr */
.version {
    font-size: 15px;
}

/* Topo Afrika */
.name {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* Version and created by */
.credit {
    font-size: 15px;
}



/*#########################
##        Content         #
#########################*/

/* Body */
body {  
    
    background-image: url('images/bg/bg1.jpg');
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

/* Container of entire Game (Menu, Info and Game) */
.content {
    height: 95vh;
    display: grid; 
    grid-template-columns: 15em 1fr 15em; 
    gap: 1em 2em; 
    overflow-y: scroll;
}

/* Align Goole Icons Vertically Centered */
.png {
    vertical-align: -7px;
}




/*#########################
##        Menu            #
#########################*/

/* Menu */
.menu {
    background-color: white;
    flex: 1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.616);
    border: 1px;
    border-radius: 0px 10px 10px 0px;
}

/* Choose Mode Title + Choose Theme Title */
.choosemode {
    font-size: 18px;
    font-family: Archivo;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
}

/* Mode Buttons */
.mode {
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #6cb104;
}

/* Mode Buttons Hover */
.mode:hover {
    animation: btnhover 500ms forwards;
    cursor: pointer;
}

/* Mode Buttons Animation */
@keyframes btnhover {
    to {
        background-color: rgb(108, 177, 4);
        color: white;
    }
}

/* Choose Theme Buttons*/
.choose {
    margin: 3%;
    padding: 3%;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #2d73f3;
}

.notactive {
    margin: 3%;
    padding: 3%;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

/* Choose Theme Button Hover */
.choose:hover {
    animation: choosehover 500ms forwards;
    cursor: pointer;
}

/* Choose Theme Button Animation */
@keyframes choosehover {
    to {
        background-color: rgb(45, 115, 243);
        color: white;
    }
}

/* Hide Menu Button */
.close {
    margin: 2%;
    margin-bottom: 5%;
    margin-top: 10%;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* Hide Menu Hover */
.close:hover {
    background-color: black;
    color: white;
}

/* Expand Button */
.expand {
    position: absolute;
    bottom: 50%;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* Expand Button Hover */
.expand:hover {
    background-color: black;
    color: white;
}

/* Grid Container for Mode Buttons */
.container-mode {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
        ". ."
        ". ."; 
    justify-items: center; 
    align-items: center; 
}



/*#########################
##        Info            #
#########################*/

/* Info Panel Container */
.info {
    background-color: white;
    flex: 1;
    text-align: center;
    margin-top: 40px;
    margin-bottom: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.616);
    border: 1px;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    white-space: nowrap;
    padding-bottom: 20px;
}

/* H3 With Line */
h3 {
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid grey; 
   color: #808080;
   line-height: 0.1em;
   margin: 10px 0 20px; 
}
h3 span { 
    color: grey;
    background:#fff; 
    padding:0 10px; 
}

/* Subtitles */
.subtitle { 
    text-align: center;
    color: grey;
    font-family: Archivo;
    font-weight: normal;
    font-size: 11px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Container of correctly solved */
.correct-container {
    font-family: Archivo;
    font-size: 12px;
    max-height: 6%;
    scroll-behavior: smooth;
    text-align: left;
    padding-left: 1vw;
    color: rgb(132, 197, 35);
    max-height: 20vh;
    overflow-y: scroll;
}

/* Correctly Solved */
.info1 {
    padding-bottom: 20px;
}

/* SCROLLBAR */
.correct-container::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.correct-container::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.correct-container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #302c2c;
}

/* Smaller Icon for Showcorrect */
.small {
    font-size: 15px;
}
.png2 {
    vertical-align: -3px;
}

/* Current Time */
.currenttime {
    font-family: Archivo;
    font-size: 27px;
    padding: 10px;
}

/* start and reset Timer Button Margin Bottom */
.pad {
    margin-bottom: 20px;
}

/* Time And Date */
.time {
    font-family: Archivo;
    font-size: 18px;
}

/* Expand Info Board */
.expand2 {
    right: 0%;
    position: absolute;
    bottom: 50%;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.expand2:hover {
    background-color: black;
    color: white;
}



/*############################*/
/*          GAME              */
/*############################*/

/* Game Container */
.game {
    text-align: center;
    flex: 5;
    height: 100%;
    margin-top: 5vh;
}

/* Image with Question */
img {
    height: 65vh;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 3px #0000006e;
}

/* Submit Button */
.submit {
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 15px;
    margin-bottom: 20px;
    margin-right: 30px;
}
.submit:hover {
    background-color: black;
    color: white;
}

/* Default Button Font Family */
button {
    font-family: Archivo;
}

/* Input Field */
input {
    padding: 10px;
    border: 0px;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Archivo;
}

/* show Solution */
.solution {
    text-align: center;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    width: 40vh;
    display: none;
}

/* For Karteikarten Mode */
.kart {
    display: none;
}

/* Default Text Settings */
.text {
    display: inline-block;
    font-family: Archivo;
    background-color: white;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 5px;
    width: 70%;
    color: #000;
    margin-bottom: 20px
    
}


/* OVERLAY */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/* Overlay Stuff */
.textoverlay {
    text-align: center;
    float: middle;
    background-color: white;
    margin-left: 30vw;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30vw;
    margin-top: 30vh;
    font-family: Archivo;
    font-size: 30px;
}
.textoverlay2 {
    text-align: center;
    margin-top: 40vh;
    font-family: Archivo;
    font-size: 40px;
    color: rgb(199, 23, 23);
}
.end {
    color: black;
    padding: 10px;
    white-space: nowrap;
    
}

.correct {
    padding: 10px;
    border: black solid;
    font-size: 15px;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
}

.aneq {
    font-size: 20px;
}
.daten {
    font-size: 18px;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
}
#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}




/* Toggle Buttons */
.toggle {
    --width: 45px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
  
    display: inline-block;
    cursor: pointer;
  }
  
  .toggle__input {
    display: none;
  }
  
  .toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill {
    background: #009578;
  }
  
  .toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
  }

.switchlabel {
    margin-left: 5px;
        display: inline-block;
        font-family: Archivo;
        background-color: white;
        font-size: 1rem;
        padding: 7px;
        border-radius: 5px;
        color: #000;
        vertical-align: 6px;
}